{% extends "hello/layout.html" %}
{% load django_bootstrap5 %}
{% block title %}
    Home
{% endblock %}
{% block content_login %}
    {% if message_list %}
        <div class="container">
            <div class="row my-5">
                <h2>Logged messages</h2>
            </div>
            <div class="row my-3">
                <div class="col-md-2">
                    <h3>Date</h3>
                </div>
                <div class="col-md-2">
                    <h3>Time</h3>
                </div>
                <div class="col-md-8">
                    <h3>Message</h3>
                </div>
            </div>
            {% for message in message_list %}
                <div class="row my-1">
                    <div class="col-md-2">
                        {{ message.log_date | date:'d M Y' }}
                    </div>
                    <div class="col-md-2">
                        {{ message.log_date | time:'H:i:s' }}
                    </div>
                    <div class="col-md-8">
                        {{ message.message }}
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <p>No messages have been logged. Use the <a href="{% url 'log' %}">Log Message form</a>.</p>
    {% endif %}
{% endblock %}
{% block content_logout %}
<h2>Bitte melden Sie sich an</h2>
<a>Diese Seite ist nur für registrierte Benutzer</a>
{% endblock %}
