<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}"/>
    <script src="{% static 'hello/site.js' %}"></script>

</head>

<body>
    <div class="topnav" id="myTopnav">
    <a href="{% url 'home' %}" class="active">Home</a>
    {% if user.is_authenticated %}
        <a href="{% url 'log' %}">Log Message</a>
        <a href="{% url 'post-list' %}">Post-List</a>
        <a href="{% url 'post-add' %}">Post-Add</a>

        <div class="dropdown">
            <button class="dropbtn">Bildserien
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'hello_PicSeries_List' %}">Liste</a>
                <a href="{% url 'hello_PicSeries_Create' %}">Neue Serie</a>
             </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Kategorien
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'hello_ListAllCats' %}">Liste</a>
                <a href="{% url 'hello_NeuAllCats' %}">Neu</a>
             </div>
        </div>
        
    {% endif %}
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'contact' %}">Contact</a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout {{ user.username }}</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}    
    <a href="javascript:void(0);" class="icon" onclick="navFunction()">&#9776;</a>
</div>

<div class="body-content">
{% block content %}
{% endblock %}
{% if user.is_authenticated %}
        {% block content_login %}
        {% endblock %}
    {% else %}
        {% block content_logout %}
        {% endblock %}
    {% endif %}
    <hr/>
    <footer>
        <p>&copy; 2018</p>
    </footer>
</div>
</body>
</html>