{% extends "hello/layout.html" %}
{% load django_bootstrap5 %}
{% block title %}LogMessage{% endblock %}
{% block content_login %}
        <div class="container">
            <div class="row my-5">
                <div class="col-md-12">
                    <form action="/log/" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
