{% extends "hello/layout.html" %}
{% load django_bootstrap5 %}
{% block title %}
    t_PicSeries_List
{% endblock %}
{% block content_login %}
<div class="container">
    {% if object_list %}
        <div class="row my-5">
            <h2>Alle Bilderserien</h2>
        </div>
        <div class="row my-4">
            <table class="table table-hover">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Titel</th>
                    <th scope="col">Titelbild</th>
                    <th class="d-none d-md-table-cell" scope="col">Erfasst am</th>
                    <th scope="col">Copyright</th>
                  </tr>
                </thead>
                <tbody>
                    {% for PicSeries in object_list %}
                        <tr>
                            <th scope="row"><a href="{% url 'hello_PicSeries_Update' PicSeriesId=PicSeries.pk %}">{{ PicSeries.title }}</a></th>
                            <td><img width = "30%" src="{{ PicSeries.hero.url }}" alt="{{ PicSeries.title }}"></td>
                            <td class="d-none d-md-table-cell">{{ PicSeries.dateCreated }}</td>
                            <td>{{ PicSeries.owner }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
   {% else %}
        <div class="row my-5">
            <h2>Keine Bildserien verfügbar</h2>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block content_logout %}
<h2>Bitte melden Sie sich an</h2>
<a>Diese Seite ist nur für registrierte Benutzer</a>
{% endblock %}
